<div class="well" id="link-form">
  <%= form_for(target, url: path) do |f| %>
    <div class="form-group">
      <%= f.label :url, "URL" %>
      <%= f.url_field :url, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :tags, "Tags (separate multiple with a comma - Example: 'search, fun, hello')" %>
      <%= f.text_field :tags, class: "form-control", value: target.is_a?(Link) ? target.tag_names : '' %>
    </div>

    <%= f.hidden_field :user_id, { value: current_user.id }%>
    <%= f.submit button, class: "btn btn-success" %>
  <% end %>
</div>
