<%= link_to "Sign Out", logout_path, method: :delete %>
<h1>Add a New Link</h1>
<div class="well" id="link-form">
  <%= form_for(:link, url: links_path) do |f| %>
    <div class="form-group">
      <%= f.label :url, "URL" %>
      <%= f.url_field :url, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <%= f.hidden_field :user_id, { value: current_user.id }%>
    <%= f.submit "Submit", class: "btn btn-default" %>
  <% end %>
</div>
<% if @links.count > 0 %>
  <h1>Your Links</h1>
  <div id="links">
    <table class="table table-responsive table-bordered table-striped">
      <thead>
        <th>Title</th>
        <th>URL</th>
        <th>Status</th>
        <th>Edit</th>
      </thead>
      <tbody>
        <% @links.each do |link| %>
          <tr id="<%= link.id %>">
            <td class="read-<%= link.read %>"><%= link.title %></td>
            <td class="read-<%= link.read %>"><%= link_to link.url, link.url %></td>
            <td><%= link_to "Mark as #{status(link)}", link_path(link), method: :put %></td>
            <td><%= link_to "Edit", edit_link_path(link), class: "btn btn-xs btn-default" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
